<a href="https://colab.research.google.com/github/dustin-kang/CODINGTEST/blob/Python/Pythoncode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[💡 파이썬 공식문서](https://docs.python.org/ko/3.9/)

# 자료형
파이썬의 자료형은 기본 자료형 뿐만 아니라 사전, 집합 자료형 등도 포함하고 있습니다.

## 수 자료형
- 정수형(Integer) : 양의 정수, 음의 정수, 0
- 실수형(Real Number) : 소수점 아래의 데이터를 포함하는 자료형

```python
a = -7 # 음의 정수
a = -.7 # 정수부가 0일 때 0을 생략한 자료형
```

### 무한(INF) 표현하기
파이썬에서는 실수형을 이용하여 `e`나 `E` 다음에 숫자를 넣어 지수를 표현할 수 있습니다.
만약에 **1e9일 경우 10억**을 지수로 표현한 방법입니다.

### 수 자료형 연산
보통 특정 변수 a가 홀수 인지를 알아볼때 `a가 2로 나눈 나머지가 1인지를 확인하는 경우`로 알아보는데 이때 나머지 연산자(`%`)를 사용합니다.

In [4]:
a = 75.25e1
print(a)

b = 3954e-3
print(b)

752.5
3.954

In [7]:
# 컴퓨터는 실수를 정확히 표현하지 못합니다.
a = 0.3 + 0.6
print(a)
# 이럴 때는 round()함수를 사용하여 반올림을 합니다.
print(round(a, 4))

if a == 0.9:
  print(True)
else :
  print(False)

0.8999999999999999
0.9
False

In [11]:
a = 7
b = 3

print(a/b)

print(a%b) # 나머지
print(a//b) # 몫

print(a**b) # 제곱

2.3333333333333335
1
2
343

## 리스트 자료형
여러개 데이터를 연속적으로 담아 처리할 수 있고 연결리스트 자료구조 기능을 포함하고 있어 `append()` `remove()` 등 메서드를 지원합니다.

```python
# 리스트 선언 및 생성
a = [1, 2, 3, 4, 5, 6]

# 빈 리스트 선언
a = list()
a = []

# 크기가 N이고 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0] * n
```

### 리스트 컴프리헨션
리스트를 초기화하는 방법 중 하나로 대괄호`[]`안에 조건문이나 반복문을 넣어 간결하게 초기화할 수 있습니다.

```python
# 20까지의 수 중에서 홀수만 담은 리스트 초기화
array = [i for i in range(20) if i % 2 == 1]

# n X m 크기의 2차원 리스트 초기화
n = 3
m = 4
array = [[0] * m for _ in range(n)]
```

> 💡 특정 크기를 가지는 2차원 리스트를 초기화할 떄는 반드시 리스트 컴프리핸션을 사용합니다.

| 메서드 명 | 사용법 | 시간 복잡도 |
| --- | --- | --- |
| append() | 변수명.append() | O(1) |
| sort() | 변수명.sort(), `reverse` 옵션으로 내림차순 가능 | O(NlogN) |
| reverse() | 변수명.reverse() | O(N) |
| insert() | 변수명.insert(삽입 인덱스, 삽입 값) | O(N) |
| count() | 변수명.count(특정값) | O(N) |
| remove() | 변수명.remove(특정 값) | O(N) |


`insert()`와 `remove()`는 `append()`와 다르게 O(N)입니다. 이유는 데이터를 추가/삭제하고나서 원소의 위치를 다시 조정해야하기 때문입니다.

In [21]:
a = [1, 4, 3]
print("기본 리스트: ", a)

a.append(2)
print("원소 삽입: ", a)

a.sort()
print("오름차순 정렬: ", a)

a.sort(reverse=True)
print("내림차순 정렬: ", a)

a.reverse()
print("원소 뒤집기: ", a)

a.insert(0, 0)
print("인덱스 0에 0 추가: ", a)

print("특정 값 갯수 세기: ", a.count(3))

a.remove(2)
print("값이 2인 데이터 제거: ", a)

기본 리스트:  [1, 4, 3]
원소 삽입:  [1, 4, 3, 2]
오름차순 정렬:  [1, 2, 3, 4]
내림차순 정렬:  [4, 3, 2, 1]
원소 뒤집기:  [1, 2, 3, 4]
인덱스 0에 0 추가:  [0, 1, 2, 3, 4]
특정 값 갯수 세기:  1
값이 2인 데이터 제거:  [0, 1, 3, 4]

In [22]:
# 특정 값의 원소 모두 제거하는 방법
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

# remove_set에 포함되지 않은 값만 제거
result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [24]:
# 리스트 인덱싱과 슬라이싱

a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a[-3]) # 뒤에서 세번째 인덱스

a[3] = 9 # 원소 값 변경
print(a)

# 1부터 9 까지 3칸 뛰면서 슬라이싱
print(a[::3])

7
[1, 2, 3, 9, 5, 6, 7, 8, 9]
[1, 9, 7]

## 문자열 자료형
문자열 변수는 초기화할 때 큰 따옴표와 작은 따옴표를 사용하는데 큰 타옴표 안에 작은 따옴표를 포함할 수 있습니다. 백슬래쉬(`\"`) 다음에 따옴표를 사용하면 문자로 처리할 수 있습니다.

In [25]:
a = "String"
print(a * 3)

a = "ABCDE"
print(a[2:4])

StringStringString
CD

## 튜플 자료형
튜플 자료형은 리스트와 비슷하나 **두가지의 차이점**이 존재합니다.

1. 튜플은 한 번 선언된 값은 **다시 변경할 수 없다.**
2. 리스트는 대괄호`[]`를 아용하지만 튜플은 소괄호`()`를 이용한다.

- 튜플 자료형은 그래프 알고리즘을 구현할 떄 자주 사용합니다. (다익스트라 알고리즘 내부의 우선순위 큐)

In [27]:
a = (1,2,3,4)
a[2] = 5

TypeError: ignored

## 사전 자료형
사전 자료형은 키(key)과 값(Value)쌍으로 구성되며 튜플 처럼 변경이 불가능한 데이터를 키로 사용할 수 있다.

- 사전 자료형은 검색 및 수정에 있어 O(1)에 시간에 처리할 수 있습니다.

In [28]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

if '사과' in data:
  print("'사과'를 키로 가지는 데이터가 존재합니다.")

'사과'를 키로 가지는 데이터가 존재합니다.

In [32]:
key_list = data.keys()
print(key_list)

value_list = data.values()
print(value_list)

print(" ")


for key in key_list:
  print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])

Apple
Banana
Coconut

## 집합 자료형
집합을 처리하는 자료형으로 기본적으로 리스트와 문자열을 통해서 만들 수 있습니다.
- 중복 허용 X
- 순서 X
- 시간 복잡도 O(1)

보통 특정한 데이터가 이미 등장한 적 있는지 여부를 체크할 때 매우 효과적입니다.

### 집합 자료형 연산
- 합집합 : |
- 교집합 : &
- 차집합 : -

### 관련 함수
- `변수명.add(값)` : 원소 추가
- `변수명.update([값,값]) : 원소 여려개 추가
- `변수명.remove(값)` : 원소 삭제

In [34]:
data = set([1,2,3])
print(data)

data.update([5,6])
print(data)

data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 5, 6}
{1, 2, 5, 6}

# 제어문과 함수